---
import type { CollectionEntry } from 'astro:content';

import { GridList, HorizontalList, VerticalList } from '@/components/list';
import Separator from '@/components/separator.astro';
import AccentColors from '@/styles/colors/accent/indigo.astro';
import DuskColors from '@/styles/colors/dusk/slate.astro';
import ElementColors from '@/styles/colors/elements/default.astro';
import Font from '@/styles/fonts/inter.astro';
import {
  getLocalizedAchievement,
  getLocalizedEducation,
  getLocalizedFavorite,
  getLocalizedInterest,
  getLocalizedJob,
  getLocalizedSkill,
  getTranslation,
} from '@/utils/get-content';
import Achievement from '@/web/components/achievement.astro';
import { Basics } from '@/web/components/basics';
import Education from '@/web/components/education.astro';
import Favorite from '@/web/components/favorite.astro';
import Interest from '@/web/components/interest.astro';
import Job from '@/web/components/job.astro';
import Layout from '@/web/components/layout.astro';
import { Metadata } from '@/web/components/metadata';
import { Section, SectionTitle, Subsection, SubsectionTitle } from '@/web/components/section';
import { Sidebar, SidebarItem } from '@/web/components/sidebar';
import { Skill } from '@/web/components/skills';

interface Props {
  basicsEntry: CollectionEntry<'basics'>;
  metadataEntry: CollectionEntry<'metadata'>;
}

const { basicsEntry, metadataEntry } = Astro.props;
const t = getTranslation(Astro);
---

<Layout class="gap-16 [&_section]:scroll-mt-8">
  <Fragment slot="head">
    <Font />
    <DuskColors />
    <AccentColors />
    <ElementColors />
    <Metadata entry={metadataEntry} />
  </Fragment>
  <Sidebar>
    <SidebarItem sectionId="basics" icon="fa6-solid:user">{t('about_me')}</SidebarItem>
    <SidebarItem sectionId="skills" icon="fa6-solid:bars-progress">{t('skills')}</SidebarItem>
    <SidebarItem sectionId="jobs" icon="fa6-solid:suitcase">{t('work_experience')}</SidebarItem>

    <SidebarItem sectionId="achievements" icon="fa6-solid:trophy">{t('achievements')}</SidebarItem>
    <SidebarItem sectionId="education" icon="fa6-solid:graduation-cap">{t('education')}</SidebarItem>
    <SidebarItem sectionId="favorites" icon="fa6-solid:star">{t('favorites')}</SidebarItem>
  </Sidebar>
  <Basics entry={basicsEntry} id="basics" />
  <Section class="gap-8" id="skills">
    <SectionTitle>{t('skills')}</SectionTitle>
    <VerticalList class="gap-8">
      <Subsection class="gap-2">
        <SubsectionTitle>{t('technologies')}</SubsectionTitle>
        <GridList class="gap-8" minColWidth="200px">
          <Skill withLevel entry={getLocalizedSkill(Astro, 'astro')} />
          <Skill withLevel entry={getLocalizedSkill(Astro, 'angular')} />
          <Skill withLevel entry={getLocalizedSkill(Astro, 'typescript')} />
          <Skill withLevel entry={getLocalizedSkill(Astro, 'sass')} />
          <Skill withLevel entry={getLocalizedSkill(Astro, 'primeng')} />
          <Skill withLevel entry={getLocalizedSkill(Astro, 'tailwind')} />
          <Skill withLevel entry={getLocalizedSkill(Astro, 'prettier')} />
          <Skill withLevel entry={getLocalizedSkill(Astro, 'eslint')} />
          <Skill withLevel entry={getLocalizedSkill(Astro, 'nest')} />
          <Skill withLevel entry={getLocalizedSkill(Astro, 'postgresql')} />
          <Skill withLevel entry={getLocalizedSkill(Astro, 'mongo')} />
          <Skill withLevel entry={getLocalizedSkill(Astro, 'firebase')} />
          <Skill withLevel entry={getLocalizedSkill(Astro, 'karma')} />
          <Skill withLevel entry={getLocalizedSkill(Astro, 'jasmine')} />
          <Skill withLevel entry={getLocalizedSkill(Astro, 'jest')} />
          <Skill withLevel entry={getLocalizedSkill(Astro, 'docker')} />
          <Skill withLevel entry={getLocalizedSkill(Astro, 'sonar')} />
          <Skill withLevel entry={getLocalizedSkill(Astro, 'react')} />
          <Skill withLevel entry={getLocalizedSkill(Astro, 'storybook')} />
          <Skill withLevel entry={getLocalizedSkill(Astro, 'ionic')} />
        </GridList>
      </Subsection>
      <Subsection class="gap-2">
        <SubsectionTitle>{t('wanna_learn')}</SubsectionTitle>
        <HorizontalList class="gap-3">
          <Skill entry={getLocalizedSkill(Astro, 'flutter')} />
          <Skill entry={getLocalizedSkill(Astro, 'react-native')} />
          <Skill entry={getLocalizedSkill(Astro, 'supabase')} />
          <Skill entry={getLocalizedSkill(Astro, 'cypress')} />
          <Skill entry={getLocalizedSkill(Astro, 'svelte')} />
        </HorizontalList>
      </Subsection>
      <Subsection class="gap-2">
        <SubsectionTitle>{t('languages')}</SubsectionTitle>
        <HorizontalList class="gap-3">
          <Skill entry={getLocalizedSkill(Astro, 'spanish')} />
          <Skill entry={getLocalizedSkill(Astro, 'english')} />
        </HorizontalList>
      </Subsection>
    </VerticalList>
  </Section>
  <Section class="gap-8" id="jobs">
    <SectionTitle>{t('work_experience')}</SectionTitle>
    <VerticalList class="gap-10">
      <Job entry={getLocalizedJob(Astro, 'consultec-lead')} />
      <Separator />
      <Job entry={getLocalizedJob(Astro, 'consultec')} />
      <Separator />
      <Job entry={getLocalizedJob(Astro, 'mensajeros-urbanos')} />
      <Separator />
      <Job entry={getLocalizedJob(Astro, 'pragma')} />
      <Separator />
      <Job entry={getLocalizedJob(Astro, 'stackpointer')} />
    </VerticalList>
  </Section>

  <Section class="gap-8" id="achievements">
    <SectionTitle>{t('achievements')}</SectionTitle>
    <VerticalList class="gap-8">
      <Achievement entry={getLocalizedAchievement(Astro, 'reactathon-hackathon')} />
    </VerticalList>
  </Section>
  <Section class="gap-8" id="education">
    <SectionTitle>{t('education')}</SectionTitle>
    <VerticalList class="gap-10">
      <Education entry={getLocalizedEducation(Astro, 'engineer')} />
      <Separator />
      <Education entry={getLocalizedEducation(Astro, 'sena')} />
    </VerticalList>
  </Section>
  <Section class="gap-8" id="favorites">
    <SectionTitle>{t('favorites')}</SectionTitle>
    <VerticalList class="gap-10">
      <Subsection class="gap-2">
        <SubsectionTitle>{t('people_i_learn_from')}</SubsectionTitle>
        <GridList class="gap-4 md:grid-cols-2">
          <Favorite image="person" entry={getLocalizedFavorite(Astro, 'people/fernando')} />
          <Favorite image="person" entry={getLocalizedFavorite(Astro, 'people/midudev')} />
          <Favorite image="person" entry={getLocalizedFavorite(Astro, 'people/brais-moure')} />
          <Favorite image="person" entry={getLocalizedFavorite(Astro, 'people/fazt')} />
          <Favorite image="person" entry={getLocalizedFavorite(Astro, 'people/florin-pop')} />
          <Favorite image="person" entry={getLocalizedFavorite(Astro, 'people/lea-verou')} />
        </GridList>
      </Subsection>
    </VerticalList>
  </Section>
  <Section class="gap-8">
    <SectionTitle>{t('interests')}</SectionTitle>
    <HorizontalList class="gap-x-4 gap-y-3">
      <Interest entry={getLocalizedInterest(Astro, 'chess')} />
      <Interest entry={getLocalizedInterest(Astro, 'watching-movies')} />
      <Interest entry={getLocalizedInterest(Astro, 'video-games')} />
      <Interest entry={getLocalizedInterest(Astro, 'reading')} />
    </HorizontalList>
  </Section>
</Layout>
