---
import { getEntry } from 'astro:content';
import { enUS } from 'date-fns/locale';

import { HorizontalList, VerticalList } from '@/components/list';
import Separator from '@/components/separator.astro';
import Basics from '@/pdf/components/basics.astro';
import Education from '@/pdf/components/education.astro';
import Footer from '@/pdf/components/footer.astro';
import Job from '@/pdf/components/job.astro';
import Layout from '@/pdf/components/layout.astro';
import { Section, SectionTitle, Subsection, SubsectionTitle } from '@/pdf/components/section';
import { Skill } from '@/pdf/components/skills';
import { initializePdfContext } from '@/pdf/utils/initialize-pdf-context';
import AccentColors from '@/styles/colors/accent/indigo.astro';
import DuskColors from '@/styles/colors/dusk/slate.astro';
import ElementColors from '@/styles/colors/elements/default.astro';
import Font from '@/styles/fonts/inter.astro';
import { getLocalizedEducation, getLocalizedJob, getLocalizedSkill, getTranslation } from '@/utils/get-content';

await initializePdfContext(Astro, {
  locale: enUS,
  translations: getEntry('translations', 'en'),
  dateFormat: 'MMMM yyyy',
  website: '/',
});

const t = getTranslation(Astro);
---

<Layout class="gap-6">
  <Fragment slot="head">
    <Font />
    <DuskColors />
    <AccentColors />
    <ElementColors />
  </Fragment>
  <Basics entry={getEntry('basics', 'main-pdf')} />
  <Section class="gap-4">
    <SectionTitle>{t('skills')}</SectionTitle>
    <VerticalList class="gap-4">
      <Subsection class="gap-2">
        <SubsectionTitle>{t('technologies')}</SubsectionTitle>
        <HorizontalList class="gap-3">
          <Skill withLevel entry={getLocalizedSkill(Astro, 'astro')} />
          <Skill withLevel entry={getLocalizedSkill(Astro, 'angular')} />
          <Skill withLevel entry={getLocalizedSkill(Astro, 'typescript')} />
          <Skill withLevel entry={getLocalizedSkill(Astro, 'sass')} />
          <Skill withLevel entry={getLocalizedSkill(Astro, 'primeng')} />
          <Skill withLevel entry={getLocalizedSkill(Astro, 'tailwind')} />
          <Skill withLevel entry={getLocalizedSkill(Astro, 'prettier')} />
          <Skill withLevel entry={getLocalizedSkill(Astro, 'eslint')} />
          <Skill withLevel entry={getLocalizedSkill(Astro, 'nest')} />
          <Skill withLevel entry={getLocalizedSkill(Astro, 'postgresql')} />
          <Skill withLevel entry={getLocalizedSkill(Astro, 'mongo')} />
          <Skill withLevel entry={getLocalizedSkill(Astro, 'firebase')} />
          <Skill withLevel entry={getLocalizedSkill(Astro, 'karma')} />
          <Skill withLevel entry={getLocalizedSkill(Astro, 'jasmine')} />
          <Skill withLevel entry={getLocalizedSkill(Astro, 'jest')} />
          <Skill withLevel entry={getLocalizedSkill(Astro, 'docker')} />
          <Skill withLevel entry={getLocalizedSkill(Astro, 'sonar')} />
          <Skill withLevel entry={getLocalizedSkill(Astro, 'react')} />
          <Skill withLevel entry={getLocalizedSkill(Astro, 'storybook')} />
          <Skill withLevel entry={getLocalizedSkill(Astro, 'ionic')} />
        </HorizontalList>
      </Subsection>
      <Subsection class="gap-2">
        <SubsectionTitle>{t('wanna_learn')}</SubsectionTitle>
        <HorizontalList class="gap-3">
          <Skill entry={getLocalizedSkill(Astro, 'flutter')} />
          <Skill entry={getLocalizedSkill(Astro, 'react-native')} />
          <Skill entry={getLocalizedSkill(Astro, 'supabase')} />
          <Skill entry={getLocalizedSkill(Astro, 'cypress')} />
          <Skill entry={getLocalizedSkill(Astro, 'svelte')} />
        </HorizontalList>
      </Subsection>
      <Subsection class="gap-2">
        <SubsectionTitle>{t('languages')}</SubsectionTitle>
        <HorizontalList class="gap-3">
          <Skill entry={getLocalizedSkill(Astro, 'spanish')} />
          <Skill entry={getLocalizedSkill(Astro, 'english')} />
        </HorizontalList>
      </Subsection>
    </VerticalList>
  </Section>
  <Section class="gap-4">
    <SectionTitle>{t('work_experience')}</SectionTitle>
    <VerticalList class="gap-6">
      <Job entry={getLocalizedJob(Astro, 'consultec-lead')} />
      <Separator />
      <Job entry={getLocalizedJob(Astro, 'consultec')} />
      <Separator />
      <Job entry={getLocalizedJob(Astro, 'mensajeros-urbanos')} />
      <Separator />
      <Job entry={getLocalizedJob(Astro, 'pragma')} />
      <Separator />
      <Job entry={getLocalizedJob(Astro, 'stackpointer')} />
    </VerticalList>
  </Section>

  <Section class="gap-4">
    <SectionTitle>{t('education')}</SectionTitle>
    <VerticalList class="gap-6">
      <Education entry={getLocalizedEducation(Astro, 'engineer')} />
    </VerticalList>
  </Section>
  <Footer>
    {t('footer')}
  </Footer>
</Layout>
